# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
.venv/
ENV/
ENV.bak/
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
/media
/staticfiles
/static
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
ENV.bak/
*.egg
*.egg-info/
dist/
build/
*.log

# Angular
node_modules/
dist/
tmp/
temp/
*.log
*.tsbuildinfo
.angular/
.idea/
.vscode/
*.iml